*{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.container{
    position: absolute;
    left:35%;
    width: 500px;
    align-content: center;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #0033FF;
}
.player-profile{
    width: 100%;
    height: 25px;
    background-image: url(../images/title_background.gif);
}
.title{
    width: 100%;
    height:100px;
}
.images{
    width: 100px;
    height: 90px;
    float: left;
}
.ul{
    position: relative;
    width: 100%-100px;
    height:100px;
    overflow: scroll;
    display: block;
    list-style-type: none;
}
.fact ul {
    list-style-type: disc;
    list-style-image: url(../images/star.gif);
    margin-left: 12px;
}
.comment-areas {
    width: 100%;
    position: relative;
    float: left;
}
.comment1{
    font-size: 12px;
    position: relative;
    background-color: #ECECEC;
    margin: 0px;
    width: 100%;    
    float: left;
}
.comment-img{
    font-size: 12px;
    width: 25px;
    height: 20px;
    position: relative;
    float: left;
    margin-left:20px !importance;
}
.posted-by{
    font-size: 12px;
}